<nav>
    <div class="container-footer">
        <div class="row">
            <div class="col text-center">
                <h5>Contact Us</h5>
                <p>Email:abc@gmail.com</p>
                <h5>Liên hệ sdt:0356736768  </h5>
            </div>
        <div class="col text-center">
            
            <p>&copy; 2023 Your Company Name. All rights reserved.</p>
        </div>
        </div>
    </div>
</nav>

